.detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Roboto Mono';
    color: #444444;
}

.banner{
    height: 60vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner_icons{
    position: absolute;
    bottom: 5%;
    left: 10%;
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.banner_icons svg{
    font-size: 2rem;
}

.banner_icon{
    background-color: white;
    border-radius: 100%;
    padding: 1rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.banner_icon:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.detail_recipe{
    display: flex;
    padding: 3rem 4rem;
    gap: 3rem;
}

.summary{
    background-color: #FEF3ED;
    padding: 2rem;
    border-radius: 20px;
    font-size: 20px;
    max-width: 800px;
    line-height: 27px;
    margin-bottom: 3rem;
}

.detail_recipe_ingre{
    margin : 2rem 0;
    max-width: 800px;
}

.detail_recipe_ingre h1{
    margin-bottom: 1rem;
}
.ingre_list{
    line-height: 3;
    margin-left: 1rem;
}

.ingre_list li{
    list-style-type: none;
    counter-increment: item;
    font-size: 20px;
    margin-bottom: 3rem;
}

.ingre_list li::before{
    content: counter(item);
    display: inline-block;
    width: 29px;
    height: 30px;
    font-family: "Indie Flower", cursive;
    margin-right: 5px;
    background-color: #f9dd94;
    color: #7eb4e2;
    font-weight: bold;
    font-size: 140%;
    padding: 0 8px 8px;
    border-radius: 3px;
    line-height: 1.3;
}

.detail_recipe_right{
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden;
    height: max-content;
    padding-bottom: 2rem;
    min-width: 350px;
}

.detail_recipe_name{
    background-color: #3D2709;
    padding : 2rem;
    color: white;
}

.detail_recipe_detail{
    padding: 1.5rem 3rem;
    font-size: 25px;
}

.detail_recipe_detail ul{
    list-style-type: none;
    line-height: 3;
}

.detail_recipe_detail ul li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.detail_recipe_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail_recipe_btn button{
    padding: 1rem 3rem;
    background-color: #F48B52;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.detail_recipe_btn button:hover{
    opacity: 0.5;
}

.available{
    color: green;
    font-weight: bold;
}

.missing{
    color: red;
    font-weight: bold;
}

@media (max-width: 1000px){
    .detail_recipe{
        flex-direction: column-reverse;
    }
}
@media (max-width: 6000px){
    .detail_recipe{
        padding: 2rem 1rem;
    }
}