.detail{
    display: flex;
    width: 100%;
    height: 100vh;
}
.left{
    width: 30%;
    height: 100%;
    background-color: white;
}
.left_top{
    display: flex;
    width: 100%;
    height: 35%;
}
.logo{
    width: 50%;
}
.logo img{
    width: 100%;
    cursor: pointer;
}
.time{
    width: 50%;
    background-color: #232148;
    color: white;
}
.time_top{
    height: 50%;
    background-color: #1B192C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono';
}
.time_bottom{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.left_middle{
    background-color: aqua;
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.left_middle_img{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.left_middle_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left_bottom{
    height: 20%;
    display: flex;
}
.vegan{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25640e;
}
.vegan img{
    width: 100%;
}
.vegan_des{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #164704;
    color: white;
    font-size: 4rem;  ;
}

.middle{
    width: 40%;
    color: white;
}
.middle_top{
    height: 35%;
    background-color: white;
    font-family: 'Roboto Mono';
    font-size: 1.7rem;
}
.middle_top button{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0px;
    color: white;
    font-size: 4rem;
    font-family: 'Roboto Mono';
    cursor: pointer;
    transition: 0.5s ease-out;
}
.middle_top button:hover{
    opacity: 1;
}
.instruction{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instruction button{
    background-color: #E24D2F;
}
.ingredients{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ingredients button{
    background-color: #E24D2F;
}
.middle_bottom{
    background-color: #2E3280;
    padding: 2rem;
    height: 65%;
    font-family: 'Roboto Mono';
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}

.right{
    width: 30%;
}
.right_top{
    height: 35%;
    width: 100%;
    background-color: #C5D437;
    display: flex;
    font-family: 'Roboto Mono';
    color: white;
}
.serving_left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;    
}
.serving_left p{
    text-orientation: upright;
    writing-mode: vertical-rl;
}
.serving_right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: #B65BCA;
}
.right_middle{
    height: 33%;
    background-color: #628AF9;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
}
.right_middle h1{
    font-size: 4rem;
}
.right_bottom{
    height: 32%;
    background-color: #EAA052;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
}
.right_bottom h1{
    font-size: 4rem;
}
.disable{
    opacity: 0.4;
}