.footer{
    padding: 4rem;
    max-width: 1920px;
}

.footer_wrapper{
    border-radius: 30px;
    color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-image: url("https://images.unsplash.com/photo-1580691155297-c6dfa3ca61c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
}

.footer_wrapper h1{
    font-size: 7rem;
    width: 700px;
    text-align: center;
}

.footer_input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.footer_input input, .footer_input button {
    height: 100%;
  }
.footer_wrapper input{
    width: 600px;
    padding: 1.5rem 5rem;
    border-radius: 25px;
    font-size: 1.5rem;
    outline: none;
}

.footer_input button{
    /* position: absolute; */
    /* right: 0;
    top: 50%;
    transform: translate(-50%,-50%); */
    padding: 15px 25px;
    border-radius: 15px;
    background-color: #005AFF;
    color: white;
    font-weight: bold;
    font-size: 15px;
    height: 100%;
}

@media (max-width: 1000px){
    .footer{
        padding: 1rem;
    }
    .footer_wrapper{
        padding: 1rem;
    }
    .footer_wrapper h1{
        font-size: 3rem;
        width: auto;
    }
    .footer_wrapper input{
        padding: 1rem;
        width: 100%;
    }
    .footer_input{
        width: 100%;
    }
    .footer_input button{
        padding: 1rem 20px;
    }
}