.ingredients{
    padding: 1rem;
    padding-bottom: 10rem;
    display: flex;
}

.ingredient_list{
    height: 260px;
    overflow: auto;
    width: 50%;
}

.main {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Roboto Mono';
    color: white;
}

.main input[type=checkbox] {
    visibility: hidden;
}

.w3docs {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: black;
}

.main:hover input ~ .w3docs {
    background-color: gray;
}

.main input:active ~ .w3docs {
    background-color: white;
}

.main input:checked ~ .w3docs {
    background-color: orange;
}

.w3docs:after {
    content: "";
    position: absolute;
    display: none;
}

.main input:checked ~ .w3docs:after {
    display: block;
}
.main .w3docs:after {
    left: 8px;
    bottom: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (max-width: 1000px){
    .ingredient_list{
        height: 450px;
    }
}