.nav{
    width: 100vw;
    display: flex;
    max-width: 1920px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    height: 70px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.nav_logo{
    height: 70px;
    width: auto;
}

.nav_logo img{
    height:100% ;
}

.nav_links{
    display: flex;
    font-family: 'Roboto Mono';
    gap: 2rem;
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
    color: #005AFF
}

.nav_links a{
    position: relative;
}

.nav_links a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #005AFF;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav_links a:hover:after { 
    width: 100%; 
    left: 0; 
}

.nav_right_log{
    display: flex;
    font-size: 1.5rem;
    padding-top: 1rem;
    color: #A76E64;
    list-style-type: none;
    gap: 1.5rem;
    position: relative;
}

.nav_right_log_links{
    display: flex;
    gap: 1.5rem;
    font-size: 20px;
}

.nav_link{
    cursor: pointer;
    height: fit-content;
    position: relative;
    font-family: 'Roboto Mono';
}


.nav_link::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.nav_link:hover::before {
    bottom: 0;
    height: 100%;
}

.nav_search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav_search input{
    outline: none;
    padding: 5px 20px;
    border-radius: 5px;
}

.nav_search svg{
    position: absolute;
    left: 3%;
}


@media (max-width: 1000px) {
    .nav{
        flex-direction: column-reverse;
    }

}
@media (max-width: 500px) {
    .nav_right_log_links{
        gap: 1rem;
        font-size: 1.2rem;
    }
}