.recipes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 0 3rem;
    margin-top: 80px;
}

.recipes_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    padding: 3rem;
    background-color: #ffa500;
}
.recipes_page h1{
    font-size: 3rem;
    color: #005AFF
}

@media (max-width: 1200px){
    .recipes{
        grid-template-columns: repeat(3, 1fr);
    }
    .recipes_page h1{
        text-align: center;
    }
}
@media (max-width: 1000px){
    .recipes{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 700px){
    .recipes{
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
}