.selectedIngredients{
    width: 50%;
    padding: 1rem 2rem;
    font-family: 'Roboto Mono';
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    background-color: orange;
    border-radius: 20px;
    color: black;
}

.selectedIngredients_btn_pantry{
    padding: 0.5rem 1rem;
    background-color: hsla(196, 61%, 58%, .75);
    border: 4px solid hsla(196, 61%, 58%, .75);
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.selectedIngredients_btn_pantry:hover{
    background-color: hsla(196, 61%, 58%, .99);
}

.selectedIngredients_remove{
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 4px solid red;
    color: red;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.selectedIngredients_remove:hover{
    color: white;
    background-color: red;
}

.selectedIngredients_btn{
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 4px solid hsla(196, 61%, 58%, .75);
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.selectedIngredients_btn:hover{
    background-color: hsla(196, 61%, 58%, .75);
}
.selected{
    overflow-y: auto;
    max-height: 150px;
    font-size: 20px;
}

.selected_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

@media (max-width: 1000px){
    .selectedIngredients{
        width: 100%;
        max-height: 250px;
    }

}
@media (max-width: 500px) {
    .selectedIngredients h2{
        text-align: center;
    }
    .selected_buttons{
        gap: 1rem;
    }
    .selected_buttons button{
        font-size: 17px;
    }
}